### 1. Assuming that we have some email addresses in the "username@companyname.com" format, please write program to print the company name of a given email address. Both user names and company names are composed of letters only.

In [1]:
mail = input()

cmpname = mail[mail.index('@')+1:mail.index('.')]
print(cmpname)

john@google.com
google

### 2. Write a program that accepts a comma-separated sequence of words as input and prints the words in a comma separated sequence after sorting them alphabetically.

In [17]:
lst = list(input().split(','))
lst.sort()

print(*lst , sep = ",")

without,hello,bag,world
bag,hello,without,world

# 3. Set

A set is a collection which is unordered and unindexed. In Python sets are written with curly brackets. You cannot access items in a set by referring to an index, since sets are unordered the items has no index.

But you can loop through the set items using a for loop, or ask if a specified value is present in a set, by using the in keyword.

In [3]:
# Creating a set

s = {1,2,3,'a'}
print(s)

{1, 2, 3, 'a'}

To access items in the set use loop we cant access it using inde value because it is unordered

In [4]:
s = {'apple','banana','mango'}

for i in s:
    print(i)

apple
mango
banana

### The diffferent methods that present in set are as follows

In [5]:
# add()	Adds an element to the set

st = {'a','b','c'}

st.add('d')
print(st)

{'c', 'a', 'b', 'd'}

In [6]:
# clear()	Removes the elements from the set

st.remove('a')
print(st)

{'c', 'b', 'd'}

In [7]:
# difference()	Returns a set containing the difference between two or more sets
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.difference(y)
print(z)

{'cherry', 'banana'}

In [8]:
# discard()	Remove the specified item

x = {"apple", "banana", "cherry"}

x.discard("apple")
print(x)

{'cherry', 'banana'}

In [9]:
# intersection()	Returns a set, that is the intersection of two other sets

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.intersection(y)

{'apple'}

In [10]:
# pop()	Removes an element from the set
y = {"google", "microsoft", "apple"}

y.pop()

'apple'

In [11]:
# remove()	Removes the specified element

x = {"apple", "banana", "cherry"}

x.remove("banana")
print(x)

{'apple', 'cherry'}

In [12]:
# The update() method inserts the items in set2 into set1:

set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set1.update(set2)
print(set1)

{1, 2, 'a', 3, 'c', 'b'}

In [13]:
# The union() method returns a new set with all items from both sets:

set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{1, 2, 'a', 3, 'c', 'b'}

In [14]:
# The del keyword will delete the set completely:

thisset = {"apple", "banana", "cherry"}

del thisset

## 4. Given a list of n-1 numbers ranging from 1 to n, your task is to find the missing number. There are no duplicates.

In [15]:
lst4 = list(map(int,input().split()))

lst4.sort()
for i in range(1,max(lst4)):
    if i not in lst4:
        print("The missing number is: ",i)
        break

1 2 4 6 3 7 8
The missing number is:  5

## 5. With a given list L, write a program to print this list L after removing all duplicate values with original order reserved

In [16]:
L = list(map(int,input().split()))
L2 = []
[L2.append(i) for i in L if i not in L2]
print(*L2)

12 24 35 24 88 120 155 88 120 155
12 24 35 88 120 155